body {
	background-color: #007AFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
}

.link {
	font-size: 10vh;
	text-align: center;
}
a {
	text-decoration: none;
}
