body {
	background-color: #BDBDBD;
	color: #2B2B2B;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contactForm {
	font-family: 'Dosis';
	font-weight: 300;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 3px;
	line-height: 2;
}
.link {
	font-size: 100px;
	display: inline-block;
	margin: 20px;
}
